.equation{
	font-weight: bold;
}

.up{
	position: relative;
	bottom: 1ex;
	font-size: 100%;
	text-decoration: underline;
}

.down{
	position: relative;
	top: 1ex;
	right: 1ex;
	font-size: 100%;
	padding: 0;
}

.spacing{
	line-height: 1.6em;
}

b{
	font: normal 100px;

}

.squareroot{
	text-decoration: overline;
}

.disablecontent{
	pointer-events: none;
}

div::-webkit-scrollbar {
	background: #fff;
	width: 10px;
	margin-right: 100px;
}

div::-webkit-scrollbar-thumb {
	background: rgb(255,197,0);
}

sup, sub{
	font-size: .5em;
}