<!DOCTYPE html>
<html>
<head>
	<script> 
		window.nodeRequire = require; 
		delete window.exports; delete window.module; 
	</script> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/style2.css">
	<style type="text/css">
		.spacing{
			overflow-y: scroll;
			height: 475px;
		}
    </style>
</head>
<body style="background: url(../img/guidebg.png); background-repeat: no-repeat; background-size: 150%;margin:30px 50px 30px;background-color: rgb(9,19,55) ;font-family: Arial, Helvetica, sans-serif">
    <div style="float: left; top: 10px; left: 20px; position: fixed;">
            <h4 style="color:rgb(202, 219, 235); font-weight: bold">Welcome, <span id="username"></span></h4>
    </div>
	<div style="float: right; margin-top: -10px; margin-left: 1250px;position: fixed;">
        <!-- <input type="image" src="../img/minbtn.png" width="20px" style="margin-right: 5px">
        <input type="image" src="../img/xbtn.png" height="20px"> -->
        <img src="../img/minbtn.png" alt="" height="20px" style="margin-right: 5px; cursor: pointer" id="min-btn">
        <img src="../img/xbtn.png" alt="" height="20px" style="cursor: pointer" id="close-btn">
        <script>
            const remote = require('electron').remote;
            document.getElementById("min-btn").addEventListener("click", function (e) {
                var window = remote.getCurrentWindow();
                window.minimize(); 
            });
            
            document.getElementById("close-btn").addEventListener("click", function (e) {
                var window = remote.getCurrentWindow();
                window.close();
            }); 
        </script>
    </div>
	<div class="container-fluid">
		<!-- SCORE -->
		<div style="position: fixed; top:75px; right:54px;">
			<h5 style="font-weight: bolder; color: white">SCORE</h5>
		</div>
		<div style="position: fixed; top:100px; right:50px; height: 100px; width: 80px; background: rgb(44, 126, 182); border-radius: 10px; ">
			<div class="row">
				<div class="col text-center"><h4 style="font-weight: bolder; color: white" id="score">-</h4></div>
			</div>
			<div class="row">
				<div class="col text-center"><hr></div>
			</div>
			<div class="row">
				<div class="col text-center"><h4 style="font-weight: bolder; color: white">10</h4></div>
			</div>
		</div>
		<!-- HEADER -->
		<div class="row">
			<div class="col text-center" style="margin-bottom: 100px" id="header">
				<h1 style="color: rgb(255,197,0); font-weight: bolder; font-size: 50px">Activity 3 <a href="#" title="Instructions" data-toggle="popover" data-placement="bottom" data-content="Solve each quadratic equation by completing the square. <br/> NOTE: SOLVE FOR POSITIVE SOLUTION FIRST" data-html="true" style="text-decoration: none;">ⓘ</a></h1>
			</div>
		</div>
		<!-- BODY -->
		<div class="row">
			<div class="carousel slide col" data-ride="carousel" id="demo" data-interval="false" data-wrap="false" style="height: 425px;">
				<div class="carousel-inner text-center" style="color: rgb(239, 230,255); font-size:1.7em">
					<div class="carousel-item active">
						<!-- GIVEN 0 -->
						<div style="display: inherit;" id="given0">
							<h1><b>y<sup>2</sup> + 4y = 96</b></h1> <!-- start of number 1 -->
							<h1>y<sub>1</sub> = <input type="text" id="input0-0" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
							<h1>y<sub>2</sub> = <input type="text" id="input0-1" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
						</div>
						<div class="spacing" id="solution0" style="display: none;margin: 0 200px 0; background: rgb(56, 85, 97); border-radius: 20px; ">
							<div>
								<b style="color: rgb(255,197,0)">1.) y<sup>2</sup> + 4y = 96</b><br>
								<b>a. Add the square of one-half of the <br>
								coefficient of x on both sides of the  <br>
								equation.</b><br>
								<!-- SOLUTION -->
								\(a={4\over2}\)<br>
								\(a=2\)<br>
								\(a^2=2^2\)<br>
								\(a^2=4\)<br>
							</div>
							<div>
								<b>b. therefore:</b><br>
								<!-- SOLUTION -->
								\(y^2+4y+4=96+4\)<br>
								<span>&#8730</span><span class="squareroot">(y+2)\(^2\)</span> = <span>&#8730</span><span class="squareroot">100</span><br>
								\(y+2=\pm10\)
							</div>
							<div>
								<b>c. first solution:</b><br>
								<!-- SOLUTION -->
								\(y+2=10\)<br>
								\(y=10-2\)<br>
								\(y=8\)<br>
							</div>
							<div>
								<b>d. second solution:</b><br>
								<!-- SOLUTION -->
								\(y+2=-10\)<br>
								\(y=-10-2\) <br>
								\(y=-12\) <br>
							</div>
						</div><!-- end of number 1 -->
					</div>
					<div class="carousel-item">
						<!-- GIVEN 1 -->
						<div style="display: inherit;" id="given1">
							<h1><b>x<sup>2</sup> - 8x = 0</b></h1> <!-- start of number 2 -->
							<h1>x<sub>1</sub> = <input type="text" id="input1-0" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
							<h1>x<sub>2</sub> = <input type="text" id="input1-1" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
						</div>
						<div class="spacing" id="solution1" style="display: none;margin: 0 200px 0; background: rgb(56, 85, 97); border-radius: 20px; ">
							<div>
								<b style="color: rgb(255,197,0)">2.) x<sup>2</sup> - 8x = 0</b><br>
								<b>a. Add the square of one-half of the <br>
								coefficient of x on both sides of the  <br>
								equation.</b><br>
								<!-- SOLUTION -->
								\(a=-{8\over2}\) <br>
								\(a=-4\) <br>
								\(a^2=(-4)^2\) <br>
								\(a=16\) <br>
							</div>
							<div>
								<b>b. therefore:</b><br>
								<!-- SOLUTION -->
								\(x^2-8x+16=16\) <br>
								<span>&#8730</span><span class="squareroot">(x-4)\(^2\)</span> = <span>&#8730</span><span class="squareroot">16</span> <br>
								\(x-4=\pm4\) <br>
							</div>
							<div>
								<b>c. first solution:</b><br>
								<!-- SOLUTION -->
								\(x-4=4\) <br>
								\(x=4+4\) <br>
								\(x=8\) <br>
							</div>
							<div>
								<b>d. second solution:</b><br>
								<!-- SOLUTION -->
								\(x-4=-4\) <br>
								\(x=-4+4\) <br>
								\(x=0\) <br>
							</div>
						</div><!-- end of number 2 -->
					</div>
					<div class="carousel-item">
						<!-- GIVEN 2 -->
						<div style="display:inherit;" id="given2">
							<h1><b>5x<sup>2</sup> + 3x - 2 = 0</b></h1> <!-- start of number 3 -->
							<h1>x<sub>1</sub> = <input type="text" id="input2-0" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
							<h1>x<sub>2</sub> = <input type="text" id="input2-1" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
						</div>
						<div class="spacing" style="display: none;margin: 0 200px 0; background: rgb(56, 85, 97); border-radius: 20px; " id="solution2">
							<div>
								<b style="color: rgb(255,197,0);">3.) 5x<sup>2</sup> + 3x - 2 = 0</b><br>
								<b>a. Divide both sides with the <br>
								coefficient of x<sup>2</sup> </b><br>
								<!-- SOLUTION -->
								\({5x^2+3x\over5}={2\over5}\) <br>
								\(x^2+{3x\over5}={2\over5}\) <br>
							</div>
							<div>
								<b>b. Add the square of one-half of the <br>
								coefficient of x on both sides of the  <br>
								equation.</b><br>
								<!-- SOLUTION -->
								\(a={3\over5*2}\) <br>
								\(a={3\over10}\) <br>
								\(a^2=({3\over10})^2\) <br>
								\(a^2={9\over100}\) <br>
							</div>
							<div>
								<b>c. therefore:</b><br>  
								<!-- SOLUTION -->
								\(x^2+{3x\over5}+{9\over100}={2\over5}+{9\over100}\) <br>
								\(\sqrt{(x+{3\over10})^2}=\sqrt{49\over100}\) <br>
								\(x+{3\over10}=\pm{7\over10}\)
							</div>
							<div>
								<b>d. first solution:</b><br>
								<!-- SOLUTION -->
								\(x+{3\over10}={7\over10}\) <br>
								\(x={7\over10}-{3\over10}\) <br>
								\(x={2\over5}\) <br>
							</div>
							<div>
								<b>e. second solution:</b><br>
								<!-- SOLUTION -->
								\(x+{3\over10}=-{7\over10}\) <br>
								\(x=-{7\over10}-{3\over10}\) <br>
								\(x=-1\)
							</div>
						</div><!-- end of number 3 -->
					</div>
					<div class="carousel-item">
						<!-- GIVEN 3 -->
						<div style="display: inherit;" id="given3">
							<h1><b>m<sup>2</sup> + 4m - 45 = 0</b></h1> <!-- start of number 4 -->
							<h1>m<sub>1</sub> = <input type="text" id="input3-0" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
							<h1>m<sub>2</sub> = <input type="text" id="input3-1" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
						</div>
						<div class="spacing" style="display: none;margin: 0 200px 0; background: rgb(56, 85, 97); border-radius: 20px; " id="solution3">
							<div>
								<b style="color: rgb(255,197,0);">4.) m<sup>2</sup> + 4m - 45 = 0</b><br>
								<b>a. Add the square of one-half of the <br>
								coefficient of x on both sides of the  <br>
								equation.</b><br>
								<!-- SOLUTION -->
								\(a={4\over2}\) <br>
								\(a=2\) <br>
								\(a^2=2^2\) <br>
								\(a^2=4\) <br>
							</div>
							<div>
								<b>b. therefore:</b><br>
								<!-- SOLUTION -->
								\(m^2+4m+4=45+4\) <br>
								<span>&#8730</span><span class="squareroot">(m+2)\(^2\)</span> = <span>&#8730</span><span class="squareroot">49</span> <br>
								\(m+2=\pm7\) <br>
							</div>
							<div>
								<b>C. first solution:</b><br>
								<!-- SOLUTION -->
								\(m+2=7\) <br>
								\(m=7-2\) <br>
								\(m=5\) <br>
							</div>
							<div>
								<b>D. second solution:</b><br>
								<!-- SOLUTION -->
								\(m+2=7\) <br>
								\(m=-7-2\) <br>
								\(m=-9\) <br>
							</div>
						</div><!-- end of number 4 -->
					</div>
					<div class="carousel-item">
						<!-- GIVEN 4 -->
						<div style="display:inherit;" id="given4">
							<h1><b>p<sup>2</sup> + 2p = 48</b></h1> <!-- start of number 5 -->
							<h1>p<sub>1</sub> = <input type="text" id="input4-0" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
							<h1>p<sub>2</sub> = <input type="text" id="input4-1" class="form-control text-center" style="width: 100px; display: inline; font-size: .9em;"></h1>
						</div>
						<div class="spacing" style="display: none;margin: 0 200px 0; background: rgb(56, 85, 97); border-radius: 20px; " id="solution4">
							<div>
								<b style="color: rgb(255,197,0);">5.)p<sup>2</sup> + 2p = 48</b><br>
								<b>a. Add the square of one-half of the <br>
								coefficient of x on both sides of the  <br>
								equation.</b><br>
								<!-- SOLUTION -->
								\(a={2\over2}\) <br>
								\(a=1\) <br>
								\(a^2=1\) <br>
							</div>
							<div>
								<b>b. therefore:</b><br>
								<!-- SOLUTION -->
								\(p^2+2p+1=48+1\) <br>
								<span>&#8730</span><span class="squareroot">(p+1)\(^2\)</span> = <span>&#8730</span><span class="squareroot">49</span> <br>
								\(p+1=\pm7\) <br>
							</div>
							<div>
								<b>C. first solution:</b><br>
								<!-- SOLUITON -->
								\(p+1=7\) <br>
								\(p=7-1\) <br>
								\(p=6\) <br>
							</div>
							<div>
								<b>D. second solution:</b><br>
								<!-- SOLUTION -->
								\(p+1=-7\) <br>
								\(p=-7-1\) <br>
								\(p=-8\) <br>
							</div>
						</div><!-- end of number 5 -->
					</div>
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
		</div>
		<!-- BACK BUTTON -->
		<div class="row" style="position: fixed; bottom: 25px; right: 25px">
            <div class="col-12 text-center" style="margin-top: 0px;"><button class="btn" style="padding:15px;background-color:rgb(255,197,0); border-radius: 60px" onclick="location.href='activitycard.html'"><img src="../img/back.png" height="30px"></button></div>
		</div>
		<!-- SUBMIT BUTTONS -->
		<div class="row">
			<div class="col-12 text-center">
				<button id="checkAnswers" class="btn btn-lg btn-success" style="border-radius: 10px;" onclick="checkAnswers()">Submit Answers</button>
				&nbsp
				<button id="showSolutions" class="btn btn-lg btn-warning" style="border-radius: 10px; background: rgb(255, 193, 7)" disabled="true" onclick="showSolutions()">Show Solutions</button>
			</div>
		</div>
	</div>
	<script src="../vendor/popper.min.js"></script>
    <script src="../vendor/jquery.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap.js"></script>
    <script src="../assets/js/jquery.smoothState.min.js"></script>
    <script src="../assets/js/main.js"></script>
	<script src="../js/mathjax.js"></script>
	<script>
		var score = 0
		function checkAnswers(){
			var score = 0
			// creates array
			correct = [
				['8', '-12'],
				['8', '0'],
				['2/5', '-1'],
				['5', '-9'],
				['6', '-8']
			]

			for(var i = 0; i < 5; i++){
				for(var j = 0; j < 2; j++){
					console.log(correct[i][j])
				}
			}
			//creates answers array
			answers = new Array(5)
			//creates second dimension of answers
			for(var i = 0; i < 5; i++){
				answers[i] = []
				answers[i].push(document.getElementById('input'+i+'-0').value)
				answers[i].push(document.getElementById('input'+i+'-1').value)
			}

			for(var i = 0; i < 5; i++){
				for(var j = 0; j < 2; j++){
					if(correct[i][j] == answers[i][j]){
						document.getElementById('input'+i+'-'+j).style.background = 'rgb(126,241, 136)'
						score++
					}
					else{
						document.getElementById('input'+i+'-'+j).style.background = 'rgb(255, 163, 163)'
					}
				}
			}
			document.getElementById('score').innerHTML = score;
			$("input").addClass("disablecontent")

			document.getElementById('checkAnswers').disabled = true
			document.getElementById('showSolutions').disabled = false

			sessionStorage.activity3_score = score;
		}

		function showSolutions(){
			if(document.getElementById('given0').style.display === "none"){
				for(var i = 0; i < 5; i++){
					document.getElementById('given'+i).style.display = 'inherit'
					document.getElementById('solution'+i).style.display = 'none'
					document.getElementById('showSolutions').innerHTML = "Show Solutions"
					document.getElementById('showSolutions').style.background = "rgb(255, 193, 7)"
					document.getElementById('header').style.marginBottom = '100px'
					document.getElementById('demo').style.height = '425px'
				}
			}
			else{
				for(var i = 0; i < 5; i++){
					document.getElementById('given'+i).style.display = 'none'
					document.getElementById('solution'+i).style.display = 'inherit'
					document.getElementById('showSolutions').innerHTML = "Review Answers"
					document.getElementById('showSolutions').style.background = "rgb(255, 65, 7)"
					document.getElementById('header').style.marginBottom = '25px'
					document.getElementById('demo').style.height = '500px'
				}
			}
		}
	</script>
	<script>
		$(document).ready(function(){
		  $('[data-toggle="popover"]').popover();   
		});
	</script>
    <script>
        document.getElementById('username').innerHTML = sessionStorage.username;
    </script>
</body>
</html>