<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/style2.css">
    <style type="text/css">
        ::-webkit-scrollbar { 
        display: none; 
        }
    </style>
</head>
<body>
	<header>
		<h1><b>ACTIVITY 2</b></h1>
	</header>
	<section>
		<ol>
		<h3><li><b>) x\(^2\) + 2x = 3 </b></li></h3> <!-- start of number 1 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> &nbsp Add the square of one-half of the <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp coefficient of x on both sides of the  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp equation. <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 2<span>&#247</span>2 <br> <!-- edit this part -->
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 1 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(a^2 = 1^2\)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(a^2 = 1\) <br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> &nbsp therefore: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(x^2 + 2x + 1 = 3 + 1\) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(x^2 + 2x + 1 = 4\) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp (x + 1)\(^2\) = 4 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(x + 1)\(^2\)</span> = <span>&#8730</span><span class="squareroot">4</span> <!-- edit this part --> <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + 1 = 2 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = 2 - 1 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = 1</b> <br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + 1 = -2 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = -2 - 1 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = -3</b> <br>
				</div>
		</div><!-- end of number 1 -->

		<h3><li><b>) x\(^2\) - 4x = 12 </b></li></h3> <!-- start of number 2 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> &nbsp Add the square of one-half of the <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp coefficient of x on both sides of the  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp equation. <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = -(4/2) <br> <!-- edit this part -->
					&nbsp &nbsp &nbsp &nbsp &nbsp a = -2 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(a^2 = (-2)^2\)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(a^2 = 4\) <br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> &nbsp therefore: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp \(x^2 - 4x +  4 = 12 + 4\) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp (x - 2)\(^2\) = 16 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(x - 2)\(^2\)</span> = <span>&#8730</span><span class="squareroot">16</span> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 2 = <span>&#177</span> 4<!-- edit this part --> <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 2 = 4 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = 4 + 2 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = 6</b> <br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 2 = -4 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = -4 + 2 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = -2</b> <br>
				</div>
		</div><!-- end of number 2 -->

		<h3><li><b>) a\(^2\) - 3a - 40 = 0 </b></li></h3> <!-- start of number 3 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> &nbsp Add the square of one-half of the <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp coefficient of x on both sides of the  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp equation. <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - (3/2)<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) = - (3/2)\(^2\) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) = 9/4<br> 
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> &nbsp therefore: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) - 3a + (9/4) = 40 + (9/4) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(a - (3/2))\(^2\)</span> = <span>&#8730</span><span class="squareroot">(169/4)</span> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a - (3/2) = <span>&#177</span> (13/2) <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a - (3/2) = (13/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a = (3/2) + (13/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a = (16/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>a = 8</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a - (3/2) = -(13/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a = - (13/2) + (3/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a = - (10/2) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>a = -5</b> <br>
				</div>
		</div><!-- end of number 3 -->

		<h3><li><b>) 2x\(^2\) + 5x - 3 = 0 </b></li></h3> <!-- start of number 4 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> &nbsp Divide both sides with the  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp coefficient of x\(^2\)  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  (\(2x^2 + 5x\)) / 2 = 3/2<br> <!-- edit this part -->
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) + (5/2) x = 3/2<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b>  &nbsp Add the square of one-half of the <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp coefficient of x on both sides of the  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp equation. <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a = 5/4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a\(^2\) = 25/16<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp therefore: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) + (5/2) x + (25/16) = (3/2) + (25/16) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  (x + (5/4))\(^2\) = 49/16<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(x + (5/2))\(^2\)</span> = <span>&#8730</span><span class="squareroot">(49/16)</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x + (5/4) = <span>&#177</span> (7/4)<br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + (5/4) = 7/4 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = (7/4) - (5/4) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = 2/4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = 1/2</b> <br>
				</div>

				<div>
					&nbsp &nbsp <b>E.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + (5/4) = - (7/4) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - (7/4) - (5/4) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - (12/4)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = -3</b><br>
				</div>
		</div><!-- end of number 4 -->

		<h3><li><b>) x\(^2\) + 4x - 45 = 0 </b></li></h3> <!-- start of number 5 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>   <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 2<br> <!-- edit this part -->
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 4<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x\(^2\) + 4x + 4 = 49<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <span>&#8730</span><span class="squareroot">(x+2)\(^2\)</span> =   <span>&#8730</span><span class="squareroot">49</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + 2 = <span>&#177</span> 7 <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x + 2 = 7<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x = 7 - 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>x = 5</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x - 2 = 7<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x = 7 + 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>x = 9</b><br>
				</div>
		</div><!-- end of number 5 -->

		</ol>
	</section>
	<footer>
		
	</footer>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap.js"></script>
    <script src="../assets/js/jquery.smoothState.min.js"></script>
    <script src="../assets/js/main.js"></script>
	<script src="../js/mathjax.js"></script>
</body>
</html>