<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/style2.css">
    <style type="text/css">
        ::-webkit-scrollbar { 
        display: none; 
        }
    </style>
</head>
<body>
	<header>
		<h1><b>ACTIVITY 3</b></h1>
	</header>
	<section>
		<ol>
		<h3><li><b>) y\(^2\) + 4y = 96 </b></li></h3> <!-- start of number 1 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 2 <br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 4<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  y\(^2\) + 4y + 4 = 100<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <span>&#8730</span><span class="squareroot">(y + 2)\(^2\)</span> = <span>&#8730</span><span class="squareroot">100</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  y  + 2 =  <span>&#177</span> 10<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp y + 2 = 10<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp y = 10 - 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>y = 8</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp y + 2 = -10<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp y = -10 - 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>y = -12</b><br>
				</div>
		</div><!-- end of number 1 -->

		<h3><li><b>) x\(^2\) - 8x = 0 </b></li></h3> <!-- start of number 2 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = - 4<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 16<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) - 8x + 16 = 16 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <span>&#8730</span><span class="squareroot">(x-4)\(^2\)</span> = <span>&#8730</span><span class="squareroot">16</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 4 = <span>&#177</span> 4<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x - 4 = 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x = 4 + 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>x = 8</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x - 4 = - 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x = - 4 + 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>x = 0</b><br>
				</div>
		</div><!-- end of number 2 -->

		<h3><li><b>) 5x\(^2\) + 3x - 2 = 0 </b></li></h3> <!-- start of number 3 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp (5x\(^2\) + 3x) / 5 = 2/5<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) + (3x/5) = 2/5<br> 
				</div>

				<div>
					&nbsp &nbsp <b>B.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 3/10 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  a\(^2\) = (9/100)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) + (3x/5) + (9/100) = (2/5) + (9/100) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) + (3x/5) + (9/100) = (40/100) + (9/100) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <span>&#8730</span><span class="squareroot">(x + (3/10))\(^2\)</span> = <span>&#8730</span><span class="squareroot">(49/100)</span> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  x + (3/10) = <span>&#177</span> (7/10)<br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + (3/10) = (7/10) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = (7/10) - (3/10)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = 4/10<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = 2/5</b> <br>
				</div>

				<div>
					&nbsp &nbsp <b>E.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x + (3/10) = - (7/10) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - (7/10) - (3/10)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - (10/10)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = - 1</b> <br>
				</div>
		</div><!-- end of number 3 -->

		<h3><li><b>) m\(^2\) + 4m - 45 = 0 </b></li></h3> <!-- start of number 4 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>   <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 2 <br> <!-- edit this part -->
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 4<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  m\(^2\) + 4m + 4 = 49<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <span>&#8730</span><span class="squareroot">(m + 2)\(^2\)</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  m + 2 = <span>&#177</span> 7<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  m + 2 = 7<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  m = 7 - 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>m = 5</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  m + 2 = - 7<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  m = - 7 - 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>m = - 9</b><br>
				</div>
		</div><!-- end of number 4 -->

		<h3><li><b>) p\(^2\) + 2p = 48 </b></li></h3> <!-- start of number 5 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>   <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 1<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 1\(^2\)<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp p\(^2\) + 2p + 1 = 49 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(p + 1)\(^2\)</span> = <span>&#8730</span><span class="squareroot">49</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  p + 1 = <span>&#177</span> 7<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp p + 1 = 7<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp p = 7 - 1<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>p = 6</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp p + 1 = -7 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp p = - 7 - 1 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>p = - 8</b> <br>
				</div>
		</div><!-- end of number 5 -->

		</ol>
	</section>
	<footer>
		
	</footer>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap.js"></script>
    <script src="../assets/js/jquery.smoothState.min.js"></script>
	<script src="../assets/js/main.js"></script>
	<script src="../js/mathjax.js"></script>
</body>
</html>