<!DOCTYPE html>
<html>
<head>
	<title>ASSESSMENT</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/mathjax.js"></script>
</head>
<body>
	<header>
		<h1><b>ASSESSMENT</b></h1>
	</header>
	<section>
		<ol>
		<h3><li><b>) x\(^2\) - 14x = 32 </b></li></h3> <!-- start of number 1 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = - 7 <br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\)  = 49<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) - 14x + 49 = 81 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(x - 7)\(^2\)</span> = <span>&#8730</span><span class="squareroot">81</span> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 7 = <span>&#177</span> 9 <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 7 = 9<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = 7 + 9<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = 16</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 7 = - 9<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - 9 + 7<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = - 2</b><br>
				</div>
		</div><!-- end of number 1 -->

		<h3><li><b>) t\(^2\) + 10t + 9 = 0 </b></li></h3> <!-- start of number 2 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 5<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 25<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp t\(^2\) + 10t + 25 = 16<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <span>&#8730</span><span class="squareroot">(t + 5)\(^2\)</span> = <span>&#8730</span><span class="squareroot">16</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp t + 5 = <span>&#177</span> 4 <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  t + 5 = 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  t = 4 - 5 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>t = - 1</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  t + 5 = - 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  t = - 5 - 4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>t = -9</b><br>
				</div>
		</div><!-- end of number 2 -->

		<h3><li><b>) x\(^2\) - 2x = 3 </b></li></h3> <!-- start of number 3 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = - 1<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 1<br> 
				</div>

				<div>
					&nbsp &nbsp <b>B.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x\(^2\) - 2x + 1 = 4 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(x -1)\(^2\)</span> = <span>&#8730</span><span class="squareroot">4</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 1 = <span>&#177</span> 2<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution:<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 1 = 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = 2 + 1<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = 3</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x - 1 = - 2<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp x = - 2 + 1<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>x = - 1</b><br>
				</div>
		</div><!-- end of number 3 -->
		</ol>
	</section>
	<footer>
		
	</footer>
</body>
</html>