<!DOCTYPE html>
<html>
<head>
	<title>ENRICHMENT</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/mathjax.js"></script>
</head>
<body>
	<header>
		<h1><b>ENRICHMENT</b></h1>
	</header>
	<section>
		<ol>
		<h3><li><b>) w\(^2\) + 10w = 11 </b></li></h3> <!-- start of number 1 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b>  <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 5<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 25 <br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp w\(^2\) + 10w + 25 = 36<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(w + 5)\(^2\)</span> = <span>&#8730</span><span class="squareroot">36</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp w + 5 = <span>&#177</span>6<br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp w + 5 = 6<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp w = 6 - 5<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>w = 1</b><br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp w + 5 = - 6<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp w = - 6 - 5<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>w = - 11</b><br>
				</div>
		</div><!-- end of number 1 -->

		<h3><li><b>) g\(^2\) + 7g - (51/4) = 0 </b></li></h3> <!-- start of number 2 -->
		<div class="spacing">
				&nbsp steps: <br>
				<div>
					&nbsp &nbsp <b>A.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp a = 7/2<br> 
					&nbsp &nbsp &nbsp &nbsp &nbsp a\(^2\) = 49/4<br>
				</div>

				<div>
					&nbsp &nbsp <b>B.</b> <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp g\(^2\) + 7g - (49/4) = 100/4<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <span>&#8730</span><span class="squareroot">(g + (7/2))\(^2\)</span> = <span>&#8730</span><span class="squareroot">(100/4)</span><br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <br>
				</div>

				<div>
					&nbsp &nbsp <b>C.</b> &nbsp first solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp g + (7/2) = 10/2 <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp g = (10/2) - (7/2) <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp <b>g = 3/2</b> <br>
				</div>

				<div>
					&nbsp &nbsp <b>D.</b> &nbsp second solution: <br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  g + (7/2) = -(10/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  g = -(10/2) - (7/2)<br>
					&nbsp &nbsp &nbsp &nbsp &nbsp  <b>g = - (17/2)</b><br>
				</div>
		</div><!-- end of number 2 -->

		</ol>
	</section>
	<footer>
		
	</footer>
</body>
</html>