<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        ::-webkit-scrollbar { 
        display: none; 
        }
    </style>
</head>
<body style="background: url(../img/guidebg.png); background-repeat: no-repeat; background-position:top; background-size: cover;margin:30px 50px 30px;background-color: rgb(9,19,55) ;font-family: Arial, Helvetica, sans-serif">
    <div class="container-fluid" style="user-select: none">
        <div class="row">
            <div class="col text-center">
                <h1 style="color: rgb(255,197,0); font-weight: bolder; font-size: 50px">Guide Card</h1>
            </div>
        </div>
        <div class="row" style="height: 100px"></div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"  style="color: rgb(201, 210, 214); font-weight: bolder">
                <h3 style="line-height: 40px; text-align: justify; font-weight: bold">
                    &emsp13;&emsp13; This Material aims to help students in learning the process in solving quadratic equation by completing the square. <br><br>
                    &emsp13;&emsp13; Students will be taught on how to solve step by step in solving problems.
                </h3>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row" style="height: 80px"></div>
        <div class="row">
            <div class="col-12 text-center"><button class="btn" style="padding:15px;background-color:rgb(255,197,0); border-radius: 60px" onclick="location.href='menu.html'"><img src="../img/back.png" height="30px"></button></div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap.js"></script>
    <script src="../assets/js/jquery.smoothState.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>