<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        ::-webkit-scrollbar { 
        display: none; 
        }
    </style>
</head>
<body style="background: url(../img/menu-bg-copy.png); background-repeat: no-repeat; background-size: cover;margin:30px 50px 30px;background-color: rgb(9,19,55) ;font-family: Arial, Helvetica, sans-serif">
    <div class="container-fluid scene_element scene_element--fadeinup">
        <div class="row">
            <div class="col-4">
                <div class="card-selector guide-card" style="height:300px;" onclick="location.href='guidecard.html'"><span class="guide-card-helper"></span><p>Guide Card</p></div>
            </div>
            <div class="col-4">
                <div class="card-selector activity-card" style="height:300px;" onclick="location.href='activitycard.html'"><span class="activity-card-helper"></span><p>Activity Card</p></div>
            </div>
            <div class="col-4">
                <div class="card-selector assessment-card" style="height:300px;" onclick="location.href='#'"><span class="assessment-card-helper"></span><p>Assessment Card</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card-selector enrichment-card" style="height:300px;" onclick="location.href='#'"><span class="enrichment-card-helper"></span><p>Enrichment Card</p></div>
            </div>
            <div class="col-4">
                <div class="card-selector reference-card" style="height:300px;" onclick="location.href='#'"><span class="reference-card-helper"></span><p>Reference Card</p></div>
            </div>
            <div class="col-4">
                <div class="card-selector credit-card" style="height:300px;" onclick="location.href='#'"><span class="credit-card-helper"></span><p>Credits</p></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap.js"></script>
    <script src="../assets/js/jquery.smoothState.min.js"></script>
</body>
</html>