<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background: url(../img/guidebg.png); background-repeat: no-repeat; background-position:top; background-size: 120%;margin:30px 50px 30px;background-color: rgb(9,19,55) ;font-family: Arial, Helvetica, sans-serif; overflow: hidden;">
    <div class="container-fluid guide-fade" style="user-select: none">
        <div class="row">
            <div class="col text-center">
                <h1 style="color: rgb(255,197,0); font-weight: bolder; font-size: 50px">Reference Card</h1>
            </div>
        </div>
        <div class="row" style="height: 10px"></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6"  style="overflow-y: scroll;color: rgb(201, 210, 214); font-weight: bolder; height:500px;">
                <h4 style="line-height: 30px; text-align: justify; font-weight: bold">
                    <ul>
                        <li>Divide both sides of the equation by <em class="math-text">a</em> then simplify.</li>
                        <li>Write the equation such that the terms with variables are on the left side of the equation and the constant terms is on the right side.</li>
                        <li>Add the square of one-half of the coefficient of x on both sides of the resulting equation. The left side of the equation becomes a perfect square trinomial.</li>
                        <li>Express the perfect square trinomial on the left side of the equation as a square of binomial.</li>
                        <li>Solve the resulting quadratic equation by extracting the square root.</li>
                        <li>Solve the resulting linear equations.</li>
                        <li>Check the solution found in the original equation</li>
                    </ul>
                </h4>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row" style="height: 40px"></div>
        <div class="row">
            <div class="col-12 text-center"><button class="btn" style="padding:15px;background-color:rgb(255,197,0); border-radius: 60px" onclick="location.href='menu.html'"><img src="../img/back.png" height="30px"></button></div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap.js"></script>
    <script src="../assets/js/jquery.smoothState.min.js"></script>
</body>
</html>